<div class="left">
    <div class="container">
        <div class="row">

            <div class="column logo ">
                <a href="index.html">
                    <img src="./assets/logo.png" alt="">
                </a>
            </div>

            <div class="column navbar">
                <ul class="">
                    <li><a href="./index.html"><span><i class="fa-solid fa-house"></i></span>Home</a></li>
                    <li><a href="./index.html"><span><i
                                    class="fa-solid fa-magnifying-glass"></i></span>Search</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container  Library">
        <div class="row">
            <div class="column">
                <ul class="">
                    <li><a href="./index.html"><span><i class="fa-solid fa-bookmark"></i></span>Your
                            Library</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>